<appSettings>
  <add key="FacebookAppId" value="175913949583924" />
  <add key="FacebookAppSecret" value ="f7dfb1365a03f72d095b9e961a3f1672" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
